body{
    color: #000;
    box-sizing: border-box;
    margin: 0;
}

.postblock{
	background-color: #DDDDDD;
}
.postblock p {
    font-size: 36px;
    color: #fff;
    margin: 0;
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
}
.postpadding{
	padding: 25px 0;
}
.postinput input{
	font-weight: 100;
	width: 425px !important;
	height: 50px;
	display: flex;
	font-size: 18px !important;
	vertical-align: middle;
	color: #555 !important;
	border: 2px solid #fff !important;
	background-color: #F6F6F6 !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 12px !important;
}
.postinput{
	display: inline-block;
}
.buts{
	display: inline-block;
	width: 140px;
	background: #AD1F2C;
}
.but{
	display: inline-block;
	background: #CB1A2B;
	height: 50px;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 17px;
	padding: 0 23px;
	-webkit-transition: all 300ms;
}
.but:hover{
    background: #AD1F2C;
    -webkit-transition: all 300ms;
}
.icons{
	font-size: 18px;
	color: white;
}
.character-counter{
	display: none;
}
i{
	color: white;
    font-size: 34px;
    margin: 8px 0px 0px 12px;
    position: absolute;
    cursor: pointer;
}

.postcomfort p{
	text-align: center;
	font-size: 36px;
}
.icons{
	width: 50px;
    height: 50px;
    background-color: #0081C7;
    display: inline-block;
    vertical-align: middle;
}

.posttext{
	display: inline-block;
}
.posttext span{
	font-weight: 100;
	font-size: 18px;
	margin: 0px 0px 10px 10px;
}
.postservices{
	margin: 0px 0px 20px;
}
.posttext2{
	font-size: 24px;
	padding: 34px 0px;
}
.posttext2 span{
	font-weight: 600;
}
.postcomfort p{
	padding: 30px;
}
.postzapros{
	float: right;
	margin-top: -244px;
    width: 370px;
    height: 440px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .4);
    position: relative;
    background-image: url("../img/ins.jpg");
}
.postins{
	position: absolute;
	bottom: 0;
    background-image: url("../img/ins.png");
    width: 100%;
    height: 260px;
    font-size: 24px;
    text-align: center;
    padding: 40px 30px 0;
}

.but1{
	display: inline-block;
	background: #0083CA;
	height: 50px;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 17px;
	margin: 31px 4px;
	padding: 0 23px;
	-webkit-transition: all 300ms;
}
.but1:hover{
    background: #004B88;
    -webkit-transition: all 300ms;
}
.texts{
font-size: 15px;
	}
 @media only screen and (min-width: 1170px) and (max-width: 1920px) {
}
.container {
    width: 1170px !important;
}
}
 @media only screen and (min-width: 712px) and (max-width: 1168px) {
.postblock p {
	padding: 20px 64px;
	margin-right: -90px !important;
}
.postpadding{
	padding: 25px 70px 33px 0px;
}
.container{
	width: 770px ;
	text-align: center;
}
i{
	display: none ;
}    
.buts{
	width: 0 ;
}
}
 @media only screen and (min-width: 500px) and (max-width: 711px) {
.postblock p {
	margin-right: 20px ;
	padding: 20px 64px;
}
.container{
	width: 643px !important;
}
}
#modal1{
	width: 400px;
	height: 560px;
}
.modal-content{
	text-align: center;
	
}
.zagolovok{
	font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 1em;
    font-weight: 700;
}
.info{
	font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 1em;
    font-weight: 400;
    width: 370px;
}
.nameform{
	font-weight: 600;
	padding-left: 15px;
}
.inputstyle {
	    border: 2px #e7e7e7 solid !important;
	width:360px  !important;
	margin-left: 18px !important;
	margin-top: 10px !important;
	height: 40px !important;
}
.inputstyle:hover {
	border: 2px solid #0083cb !important;
	box-shadow: none !important;
}
#knp{	
	font-size: 13px;
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	vertical-align: middle;
color: white;
height: 46px;
width: 280px;
background-color: #0083cb;
border-radius: none !important;
font-weight: 700;
line-height: 44px;
}
#knp:hover{	
	font-size: 13px;
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	vertical-align:bottom;
color: white;
height: 46px;
width: 280px;
background-color: #004B88;
border-radius: none !important;
line-height: 44px;
}